<!--  ******************************************************

    Add buttons view, no styles, finished and tested 2/6/2017

	 ******************************************************
-->

<div layout="row" layout-align="center center">

	<md-button ng-disabled="true" class="md-raised md-primary" ng-disabled="true">
		Privacy
	</md-button>

	<md-button ng-disabled="true" class="md-raised md-primary" ng-disabled="true">
		More
	</md-button>

	<md-button ng-disabled="true"  class="md-raised md-primary" ng-disabled="true">
		Note
	</md-button>

	<md-button class="md-raised md-primary" ng-click="vm.onReset()" ng-disabled="theForm{{vm.tab}}.$invalid">
		Clear
	</md-button>
	
	<md-button type="submit" class="md-raised md-primary" ng-disabled="theForm{{vm.tab}}.$invalid">
		Save
	</md-button>
	
</div>