<!--  ******************************************************

    Add name view, no styles, finished and tested 2/6/2017

	 ******************************************************
-->

<div layout="row" layout-align="start center">

	<md-input-container>
		<label>Name Prefix</label>
		<input type="text" ng-model="vm.data.namePrefix" md-maxlength="7">
	</md-input-container>

 	<md-input-container>
		<label>Given Name</label>
		<input type="text" ng-model="vm.data.givenName" md-maxlength="20">
	</md-input-container>

 	<md-input-container>
		<label>Middle Name</label>
		<input type="text" ng-model="vm.data.middleName" md-maxlength="20">
	</md-input-container>

	<md-input-container md-autofocus  class="md-input-focused">
		<label>Last Name</label>
		<input type="text" ng-model="vm.data.surname" required md-maxlength="20">
	</md-input-container>

	<md-input-container>
		<label>Name Suffix</label>
		<input type="text" ng-model="vm.data.nameSuffix" md-maxlength="7">
	</md-input-container>

	<label>Gender</label>
	<md-input-container class="down30">	
		<md-radio-group ng-model="vm.data.gender">
		    <md-radio-button value="M">Male</md-radio-button>
		    <md-radio-button value="F">Female</md-radio-button>			
    	</md-radio-group>
	</md-input-container>
		
</div>