<!--  ******************************************************

    Standard Place Picker, no styles, finished and tested 2/6/2017

	 ******************************************************
-->

<div layout="row" layout-align="start center">

 	<md-input-container>
		<label>City</label>
		<input type="text" ng-model="vm.data.details.city" md-maxlength="20">
	</md-input-container>

 	<md-input-container>
		<label>County</label>
		<input type="text" ng-model="vm.data.details.county" md-maxlength="20">
	</md-input-container>

	 <md-input-container>
		<label>State</label>
		<input type="text" ng-model="vm.data.details.state" md-maxlength="20">
	</md-input-container>
 	<md-input-container>
		<label>Country</label>
		<input type="text" ng-model="vm.data.details.country" md-maxlength="20">
	</md-input-container>
	
</div>