<div class="check-element animate-show">
	
	<md-toolbar class="md-accent page-header">
		<div flex flex-fill layout="row" layout-align="center center">Edit the Personal Data for {{person.fullName}} in {{params.appName}}</div>
	</md-toolbar>
	

    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Statistics">
        <md-content class="md-padding">
          <h1 class="md-display-2">Statistics</h1>
          <p>Things like marriage, kids, degrees, etc. goes here</p>
        </md-content>
      </md-tab>
      
      <md-tab label="Personal">
        <md-content class="md-padding">
          <h1 class="md-display-2">Personal</h1>
          <p>Description and other physical attributes</p>
        </md-content>
      </md-tab>
      
      <md-tab label="Relationships">
        <md-content class="md-padding">
          <h1 class="md-display-2">Relationships</h1>
          <p>Family and Friend Relationships</p>
        </md-content>
      </md-tab>
      
      <md-tab label="Religion">
        <md-content class="md-padding">
          <h1 class="md-display-2">Religion</h1>
          <p>Religious details</p>
        </md-content>
      </md-tab>
      
      <md-tab label="Military">
        <md-content class="md-padding">
          <h1 class="md-display-2">Military</h1>
          <p>Details on military background goes here</p>
        </md-content>
      </md-tab>
      </md-tabs>
  </md-content>
</div>






	<div style="border:thin solid black;background-color:white" flex layout="row">
		<md-content flex>
			<md-card layout-padding>
				<md-grid-list md-cols="5" md-gutter="20px" md-row-height="70px">
  					<md-grid-tile>
 	 					    <md-radio-group ng-model="addBirth.gender">
								<label>Gender</label>
							    <md-radio-button value="0">Male</md-radio-button>
							    <md-radio-button value="1">Female</md-radio-button>			
					    	</md-radio-group>
				  	</md-grid-tile>
				  	
				  	<md-grid-tile>
					    	<label>Date&nbsp;Modifier</label>
					        <md-select ng-change="onChange(addBirth.dateMod)" ng-model="addBirth.dateMod">
		 						<md-option ng-value="item" ng-repeat="item in dateModifiers">{{item.label}}</md-option>
					        </md-select>
				  	</md-grid-tile>

				  	<md-grid-tile md-colspan="3">
					    <md-input-container ng-show="upload.modifier!='BET' && upload.modifier!='PHRASE'">
				  			<label>Date</label>
	   						<md-datepicker ng-model="ddBirth.date1"></md-datepicker>
					    </md-input-container>

					    <md-input-container ng-show="upload.modifier=='BET'" >
	 			  			<legend>From Date</legend>
	    					<md-datepicker ng-model="ddBirth.date1"></md-datepicker>
					    </md-input-container>

					    <md-input-container ng-show="upload.modifier=='BET'" >
  	 			  			<legend>To Date</legend>
 							<md-datepicker ng-show="upload.modifier=='BET'" ng-model="ddBirth.date2"></md-datepicker>
					    </md-input-container>

				 		<md-input-container ng-show="upload.modifier=='PHRASE'" style="margin-top:25px">
	  				 		<label>Date Phrase</label>
							<input ng-model="ddBirth.datePhrase"></input>
						</md-input-container>
 					</md-grid-tile>
				<p layout-padding>This is where the main data on a person can be edited.</p>
	   		</md-card>
	   	</md-content>
	</div>

</div>
