<div layout="column" layout-align="center center">
	<div layout="row" layout-align="center center">
		<img ng-src="/sheet/profilePhotos/{{vm.leftPerson.mainID}}.jpeg" height="174" width="255" />
	</div>
	<div class="md-title" layout="row" layout-align="center center" flex="100">
		<span ng-dblclick="vm.showDetails(vm.ids.person1)">{{vm.leftPerson.fullName}}&nbsp;</span>
		<span ng-show="vm.leftPerson.numSpouse>1">
			<md-menu md-offset="10 10">
				<span class="curUser"><i class="material-icons" ng-click="$mdOpenMenu($event)">favorite</i></span>
							
				<md-menu-content>
					<div ng-repeat="x in vm.leftPerson.spouses" class="md-subhead">
						<md-menu-item>
							<md-button ng-disabled="disableSpouse(x.mainID);" ng-click="updateSpouse($index)">{{x.fullName}}</md-button>
						</md-menu-item>
					</div>									
 				</md-menu-content>
			</md-menu>
		</span>					
	</div>
	
	<div class="md-title">Parents</div>

	<div class="md-subhead" layout="row" layout-align="center center">							
		<div class="md-subhead" layout="column" layout-align="start end">							
			<span>Father:&nbsp;</span>
			<span>Mother:&nbsp;</span>
		</div>
		<div class="md-subhead" layout="column" layout-align="start start">							
			<span ng-dblclick="vm.showDetails(vm.ids.father1)">{{vm.leftPerson.fathers[vm.leftPerson.curFather].fullName}}</span>						
			<span ng-dblclick="vm.showDetails(vm.ids.mother1)">{{vm.leftPerson.mothers[vm.leftPerson.curMother].fullName}}</span>				
		</div>
	</div>

	<div class="md-title">Birth Data</div>

	<div layout="row" layout-align="start start">							
		<div class="md-subhead" layout="column" layout-align="end end">
			<div>Born:&nbsp;</div>
			<div>County:&nbsp;</div>
			<div>Country:&nbsp;</div>
		</div>
		<div class="md-subhead" >
			<div ng-class="{textFit:true, private:vm.leftPerson.doBlur}">{{vm.leftPerson.birthDate}} </div>						<!--	trailing spaces necessary to fix alignment if value is blank-->
			<div ng-class="{textFit:true, private:vm.leftPerson.doBlur}">{{vm.leftPerson.birthCounty}} </div>
			<div ng-class="{textFit:true, private:vm.leftPerson.doBlur}">{{vm.leftPerson.birthCountry}} </div>
		</div>
		
		<div class="md-subhead" layout="column" layout-align="end end">
			<div>Hospital:&nbsp;</div>
			<div>City:&nbsp;</div>
			<div>State:&nbsp;</div>
		</div>	
		<div class="md-subhead" >
			<div ng-class="{textFit:true, private:vm.leftPerson.doBlur}">{{vm.leftPerson.birthLocation}} </div>
			<div ng-class="{textFit:true, private:vm.leftPerson.doBlur}">{{vm.leftPerson.birthCity}} </div>
			<div ng-class="{textFit:true, private:vm.leftPerson.doBlur}">{{vm.leftPerson.birthState}} </div>
		</div>
	</div>

	<div class="md-title" ng-show="!vm.leftPerson.living">Death Data</div>

	<div class="md-title" ng-show="vm.leftPerson.living">Still Living</div>

	<div ng-class="{hideDeath:vm.leftPerson.living}" layout="row" layout-align="start start">							
		<div class="md-subhead" style="text-align:right;margin-top:-10px">
			Died:&nbsp;<br>
			County:&nbsp;<br>
			Country:&nbsp;
		</div>
		
		<div class="md-subhead">
			<div ng-class="{textFit:true, hideDeath:vm.leftPerson.doBlur}">{{vm.leftPerson.deathDate}} </div>						<!--	trailing spaces necessary to fix alignment if value is blank-->
			<div ng-class="{textFit:true, hideDeath:vm.leftPerson.doBlur}">{{vm.leftPerson.deathCounty}} </div>
			<div ng-class="{textFit:true, hideDeath:vm.leftPerson.doBlur}">{{vm.leftPerson.deathCountry}} </div>
		</div>
		
		<div class="md-subhead" layout="column" layout-align="end end">
			<div>Buried:&nbsp;</div>
			<div>City:&nbsp;</div>
			<div>State:&nbsp;</div>
		</div>		
		<div class="md-subhead" >
			<div ng-class="{textFit:true, hideDeath:vm.leftPerson.doBlur}">{{vm.leftPerson.deathLocation}} </div>
			<div ng-class="{textFit:true, hideDeath:vm.leftPerson.doBlurg}">{{vm.leftPerson.deathCity}} </div>
			<div ng-class="{textFit:true, hideDeath:vm.leftPerson.doBlur}">{{vm.leftPerson.deathState}} </div>
		</div>	
	</div>
</div>
		