<div layout="column" layout-align="center start" class="midPane2" ng-dblClick="midPane2=!midPane2 || false" ng-class="{midPaneBig2:midPane2}">
	<h2 class="md-title">Mom's Bread Recipe</h2>
</div>

<div ng-show="false">
	<p class="md-subhead">Directions</p>
	<p class="md-subhead" style="overflow:scroll;white-space:inherit">
		In a large bowl, dissolve yeast in warm water. Add the sugar, salt, oil and 3 cups flour. Beat until smooth. Stir in enough remaining flour, 1/2 cup at a time, to form a soft dough.
		Turn onto a floured surface; knead until smooth and elastic, about 8-10 minutes. Place in a greased bowl, turning once to grease the top. Cover and let rise in a warm place until doubled, about 1-1/2 hours.
		Punch dough down. Turn onto a lightly floured surface; divide dough in half. Shape each into a loaf. Place in two greased 9x5-in. loaf pans. Cover and let rise until doubled, about 30-45 minutes.
		Bake at 375° for 30-35 minutes or until golden brown and bread sounds hollow when tapped. Remove from pans to wire racks to cool. Yield: 2 loaves (16 slices each).
	</p>
</div>